{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Art Hub{% endblock %}</title>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="site-logo">Art Hub
          <i class="em em-camera"></i>
        </a>
        <ul class="right">
          <li>
            <a class="active" id="home" href="/">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a id="profile" href="/user/{{ user.username }}">{{user.username}}'s Profile</a>
          </li>
          <li>
            <a id="upload" href="/user/{{ user.username }}/upload">Upload</a>
          </li>
          <li>
            <a id="chat" href="{% url 'chat' %}">Chat</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a id="login" href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a id="signup" href="{% url 'signup' %}">Signup</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>