{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Art Hub{% endblock %}</title>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <nav>
      <a href="/" class="site-logo">Art Hub
        <i class="em em-camera"></i>
      </a>
      <ul class="right">
        <li>
          <a class="active" href="/">Home</a>
        </li>

        {% if user.is_authenticated %}
        <li>
          <a href="/user/{{ user.username }}">Hello, {{user.username}}!</a>
        </li>
        <li>
          <a href="{url 'upload'}"></a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>

    {% block content %} {% endblock %}

  </main>

  <footer>&copy; 2018 Genevieve Schultz</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>