{% extends 'base.html' %} {% block content %}
<h1>{{username}}'s Profile</h1>
<br/>

<h2>{{username}}'s Uploads:</h2>
<div class="row">
  <div class="column">
    {% for file in media %}
    <div class="card">
      <a href="/{{file.id}}/">
        <img class="gallery" src="/media/{{MEDIA_ROOT}}{{file.file}}" alt="{{ file.description }}">
      </a>
      <div class="container">
        <a href="/{{file.id}}/">
          <p>{{file.name}}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}